<h1>Your Payment has been successful!</h1>

<!-- Redirect after 3 seconds -->
<script>
  setTimeout(function() {
    window.location.href = "http://localhost:5173/orders";  // Redirect to the frontend orders page
  }, 3000); // Redirect after 3 seconds
</script>
